.EditingData {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.profileData {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.citasDiv {
    width: 20em;
    flex-wrap: wrap;
}


.buttonCita {
    width: 20em;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #212529;
}