.artistPage {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.pageTitle{
    margin-bottom: 2em;
}

.artistDiv {
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.artistcard {
    width: 20em;


    

}